.header{
    display:none;
}
div.pt-5{
        padding-top: unset !important;
}
.order_line_css.table th, .table td {
    border-top: unset !important;
}
.sale_tbody tr{
    border-top: unset !important;
    border-bottom: unset !important;
}
.sale_tbody td {
    border-top: unset !important;
    border-bottom: unset !important;
}
