.home_section_title {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 135px;
}

.home_section:first-child {
    padding-top: 20vh !important;
    height: 65vh;
}
.home_section {
    padding-top: 25vh !important;
    height: 80vh;
}
.breadcrumb {
    display: none !important;
}

.owl-carousel .owl-item h6 a {
    color: black;
}

#product_detail .s_share {
    display: none;
}