.home_section_title {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 17vh;
}

.home_section:first-child {
    padding-top: 20vh !important;
    height: calc(100vh - 160px - 10vh);
}
.home_section {
    padding-top: 25vh !important;
    height: calc(100vh - 65px - 10vh);
}
.breadcrumb {
    display: none !important;
}

body {
    font-family: Lato, "Source Sans Pro", "Odoo Unicode Support Noto", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Lato, "Source Sans Pro", "Odoo Unicode Support Noto", sans-serif;
}